<h2><a href="/pokemons">All Pokemons</a></h2>
<a href='/pokemons/<%= @pokemon.name %>/edit'>Edit This Pokemon</a>
<div class="pokemons">
  <p>Pokemon Name: <%= @pokemon.name %></p>
  <p>Pokemon Poke Type: <%= @pokemon.poke_type %></p>
</div>
<img src="<%= @pokemon.img_url %>">
