<!-- views/layout.erb -->
<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href= "/css/pokestyle.css">
  </head>
  <body>
    <%= yield %> <!-- load whatever template was called here -->
  </body>
</html>
